body{
  margin: 0;
} 
 

 body {
  background: linear-gradient(to top, #22023f, rgb(43, 112, 145));
  background-size: cover;
  margin: 0;
  font-family: 'Arial', sans-serif; 
  
}




.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 1px;
  max-width: 100%;
} 

.cell {
  width: 100%;
  padding-bottom: 100%;
  border: 0.5px solid #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

body, html {
  min-height: 100vh;
}  
